<form class="gif-finder-form">
  <mat-form-field class="search-full-width">
    <input
      matInput
      placeholder="Enter a phrase for find a gif..."
      class="input-gif-finder"
      [(ngModel)]="searchPhrase"
      name="searchPhrase"
    />
  </mat-form-field>
</form>

<mat-dialog-content>
  <div *ngIf="loading">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="!loading">
    <mat-grid-list cols="4" rowHeight="2:2">
      <mat-grid-tile *ngFor="let gif of gifList">
        <img class="loading" [src]="gif.image" [alt]="gif.title"  (click)="selectGif(gif)" />
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</mat-dialog-content>
