<div class="message-container">
  <div *ngFor="let msg of messageList" class="chat-message" [ngClass]="{own: msg.own, yours: !msg.own}">
    <div class="chat-text-message">
        <span class="message">
            {{ msg.content }}
        </span>
    </div>
  </div>
</div>

<div class="form-container">
  <div class="chat-form">
    <div class="add-gif-container chat-col">
      <button class="btn-add-gif">GIF</button>
    </div>
    <div class="chat-text-container chat-col-input">
      <textarea class="chat-text" rows="1" [(ngModel)]="text"></textarea>
    </div>
    <div class="add-gif-container chat-col">
      <button class="btn-add-gif" (click)="postTextChat()">GIF</button>
    </div>
  </div>
</div>
