<div class="message-container">
  <div
    *ngFor="let msg of messageList"
    class="chat-message"
    [ngClass]="{ own: msg.own, yours: !msg.own }"
  >
    <div class="chat-text-message">
      <span class="message" *ngIf="!msg.isGif">{{ msg.content }}</span>
      <img class="message" *ngIf="msg.isGif" [src]="msg.content" alt="GIF" />
    </div>
  </div>
</div>

<div class="form-container">
  <div class="chat-form">
    <div class="add-gif-container chat-col">
      <button mat-fab (click)="postGifChatOnDialog()" color="primary">
        GIF
      </button>
    </div>
    <div class="chat-text-container chat-col-input">
      <textarea class="chat-text" rows="1" [(ngModel)]="text"></textarea>
    </div>
    <div class="add-gif-container chat-col">
      <button mat-fab (click)="postTextChat()" color="primary">
        <mat-icon aria-hidden="false" aria-label="Send a gif">send</mat-icon>
      </button>
    </div>
  </div>
</div>
