<div class="message-container">
  <div
    *ngFor="let msg of messageList"
    class="chat-message"
    [ngClass]="{ own: msg.own, yours: !msg.own }"
  >
    <div class="chat-text-message">
      <span class="message" *ngIf="!msg.isGif">{{ msg.content }}</span>
      <img class="message" *ngIf="msg.isGif" [src]="msg.content" alt="GIF" />
    </div>
  </div>
</div>

<div class="form-container">
  <div class="chat-form">
    <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
      <button mat-fab (click)="postGifChatOnDialog()" color="primary" gdAlignColumns="center">
        <mat-icon aria-hidden="false" aria-label="Send a gif">gif</mat-icon>
      </button>
      <mat-form-field class="chat-input-text" fxFlex="80%">
        <textarea
          matInput
          rows="3"
          placeholder="Lave a comment here..."
          [(ngModel)]="text"
        ></textarea>
      </mat-form-field>
      <button mat-fab (click)="postTextChat()" color="primary">
        <mat-icon aria-hidden="false" aria-label="Send a gif">send</mat-icon>
      </button>
    </div>
  </div>
</div>
