.message-container {
  height: 85%;
  overflow: auto;
  margin: 0 10px;

  .chat-message {
    width: 100%;

    .chat-text-message {
      margin: 30px 10px;

      span.message {
        color: white;
        padding: 10px;
        border-radius: 20px;
      }

      img.message {
        width: 200px;
        height: 200px;
        border-radius: 30px;
      }
    }
  }

  .chat-message.own {
    text-align: right;

    span.message {
      background-color: deeppink;
    }
  }

  .chat-message.yours {
    span.message {
      background-color: blue;
    }
  }
}

.form-container {
  width: 99%;
  background-color: #504e4e;
  position: absolute;
  bottom: 0;
  padding: 10px;

  textarea {
    resize: none;
  }

  button {
   margin: 10px;
  }
}
